<div layout-fill>
  <md-toolbar layout="horizontal" layout-fill>
    <md-tabs layout-fill selected="drive.topFolder.selectedIndex" center>
      <md-tab label="My Drive" ng-click="drive.changeTopFolder('mydrive')"></md-tab>
      <md-tab label="Incoming" ng-click="drive.changeTopFolder('incoming')"></md-tab>
      <md-tab label="Recent" ng-click="drive.changeTopFolder('recent')"></md-tab>
      <md-tab label="Starred" ng-click="drive.changeTopFolder('starred')"></md-tab>
      <md-tab label="Trash" ng-click="drive.changeTopFolder('trash')"></md-tab>
    </md-tabs>
  </md-toolbar>

  <md-content class="md-padding">
    <md-list>
      <md-item ng-repeat="file in drive.fileList">
        <md-item-content>
          <div class="md-tile-left">
            <img ng-src="{{file.iconLink}}">
          </div>
          <div class="md-tile-content">
            {{file.title}}
          </div>
        </md-item-content>
      </md-item>
    </md-list>
  </md-content>

</div>