<div layout="vertical" layout-fill>

  <md-toolbar md-theme="indigo">
    <div class="md-toolbar-tools" layout-align="center center">
      <md-button href="{{topMenu.route}}"
        ng-class="{'md-raised':topMenu.selected}"
        ng-repeat="topMenu in vm.topMenuList"
        md-theme="lime">
        {{topMenu.label}}
      </md-button>
    </div>
  </md-toolbar>

  <md-content>
    <md-list ng-if="vm.parentFolder">
      <md-button ng-click="vm.upToParentFolder()" layout-fill>
        <md-item-content>
          <div class="md-tile-left">
            <span class="fa fa-level-up"></span>
          </div>
          <div class="md-tile-content" style="text-align: left;">
            ...
          </div>
        </md-item-content>
      </md-button>
    </md-list>
    <md-list ng-repeat="folder in vm.folderList">
      <md-button ng-click="vm.clickItem(folder)" layout-fill>
        <md-item-content>
          <div class="md-tile-left">
            <img ng-src="{{folder.iconLink}}">
          </div>
          <div class="md-tile-content" style="text-align: left; overflow: hidden;">
            {{folder.title}}
          </div>
        </md-item-content>
      </md-button>
    </md-list>
    <md-list ng-repeat="file in vm.fileList">
      <md-button ng-click="vm.clickItem(file)" layout-fill>
        <md-item-content>
          <div class="md-tile-left">
            <img ng-src="{{file.iconLink}}">
          </div>
          <div class="md-tile-content" style="text-align: left; overflow: hidden;">
            {{file.title}}
          </div>
        </md-item-content>
      </md-button>
    </md-list>
  </md-content>

  <md-button class="md-fab md-primary" aria-label="Edit" style="position: absolute; right: 16px; bottom: 16px;" ng-click="vm.showNewMenu($event)">
    <span class="fa fa-plus"></span>
  </md-button>

</div>