@import "../../bower_components/font-awesome/less/font-awesome.less";

@import "variables.less";
@import "github.less";

.file-word-bg {
  color: #4285f4;
}

.file-spreadsheet-bg {
  color: #0f9d58;
}

.file-presentation-bg {
  color: #f4b400;
}

.md-inline-list-icon-label {
  color: buttontext;
  padding-left: 20px;
  display: inline-block;
  vertical-align: middle;
}

.selected {
  background: @text-primary !important;
  color: white !important;
}

.fab-container {
  position: absolute;
  right: 16px;
  bottom: 16px;
}

md-list.drive-list-item {
  padding: 0;
  border-bottom: 1px solid #eee;
}
md-list.drive-list-item:last-child {
  border-bottom: 0;
}

.gate {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.btn-gate {
  width: 150px !important;
  height: 150px !important;
}