@import "../../bower_components/font-awesome/less/font-awesome.less";

@import "variables.less";
@import "github.less";

.navbar {
  max-height: @navbar-height;
}

.drive-body-container {
  position: absolute;
  top: 0;
  padding-top: @navbar-height;
  width: 100%;
  height: 100%;
}

.drive-body {
  height: 100%;
}

.context-menu {
  background-color: white;
  position: fixed;
}

.dropdown-menu-item {
  overflow: hidden;
  margin: 0;
}

.file-word-bg {
  color: #4285f4;
}

.file-spreadsheet-bg {
  color: #0f9d58;
}

.file-presentation-bg {
  color: #f4b400;
}

.md-inline-list-icon-label {
  color: buttontext;
  padding-left: 20px;
  display: inline-block;
  vertical-align: middle;
}

.selected {
  background: @text-primary !important;
  color: white !important;
}

.fab-container {
  position: absolute;
  right: 16px;
  bottom: 16px;
}

md-list.drive-list-item {
  padding: 0;
  border-bottom: 1px solid #eee;

  .list-item-content {
    text-align: left;
    overflow: hidden;
    text-transform: none;
  }
}

md-list.drive-list-item:last-child {
  border-bottom: 0;
}

.gate {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.btn-gate {
  width: 150px !important;
  height: 150px !important;
}

[fill-parent] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.file-navigation-dialog {
  .header {
    background-color: @text-primary;
    margin: 0;
    padding: 10px;
  }

  .disabled {
    opacity: 0.25;
  }

  .current-folder {
    margin: 0;
    padding: 10px;
    box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.16);
    z-index: 1;
  }

  .md-dialog.md-default-theme.md-content-overflow .md-actions {
    border-top-color: rgba(0,0,0,0.12);
  }
}

.clickable {
  cursor: pointer;
}