.navbar {
  max-height: @navbar-height;
}

.drive-body-container {
  position: absolute;
  top: 0;
  padding-top: @navbar-height;
  width: 100%;
  height: 100%;
}

.drive-body-container.double-toolbar {
  padding-top: @navbar-height * 2;
}

.breadcrumb {
  padding: 0;
  margin: 0;
  list-style: none;

  .breadcrumb-item {
    min-width: 60px;
    display: inline-block;

    .breadcrumb-item-inner {
      margin: 0;
      vertical-align: middle;
    }
  }

  .breadcrumb-item+.breadcrumb-item:before {
    content: "";
    display: inline-block;
  }

  .breadcrumb-separator {
    height: 12px;
  }
}

.drive-body {
  height: 100%;
}

.context-menu {
  background-color: white;
  position: fixed;
  z-index: 69;
}

.dropdown-menu-item {
  overflow: hidden;
  margin: 0;
  display: block;
  text-align: left;
  padding: 5px 15px;

  .name {
    padding-left: 3px;
  }
}

.file-word-bg {
  color: #4285f4;
}

.file-spreadsheet-bg {
  color: #0f9d58;
}

.file-presentation-bg {
  color: #f4b400;
}

.md-inline-list-icon-label {
  color: buttontext;
  padding-left: 20px;
  display: inline-block;
  vertical-align: middle;
}

.selected {
  background: @text-primary !important;
  color: white !important;
}

.fab-container {
  position: absolute;
  right: 24px;
  bottom: 24px;
  z-index: 68;
}

.drive-list {
  padding: 0;
  .drive-list-item {
    .icon {
      vertical-align: middle;
      padding-right: 10px;
    }

    .name {
      font-size: 15px;
    }

    .md-button {
      border-radius: 0;
      text-align: left;
      overflow: hidden;
      text-transform: none;
      background: transparent;

      &:not([disabled]):hover {
        background: rgba(158,158,158,0.2)
      }
    }
  }
}

.gate {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.btn-gate {
  width: 150px !important;
  height: 150px !important;

  .icon-gate {
    width: 60px;
    height: 70px;
  }
}

[fill-parent] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.file-navigation-dialog {
  .header {
    background-color: @text-primary;
    margin: 0;
    padding: 10px;
  }

  .disabled {
    opacity: 0.25;
  }

  .current-folder {
    margin: 0;
    padding: 10px;
    box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.16);
    z-index: 1;
  }

  .md-dialog.md-default-theme.md-content-overflow .md-actions {
    border-top-color: rgba(0,0,0,0.12);
  }
}

.clickable {
  cursor: pointer;
}

.text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ng-file-select,
input-file input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.face {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 48px;
  margin: 16px;
}

.sidenav-menu-list-container {
  padding: 0;

  .list-item {
    padding: 0;

    .list-item-inner {
      min-height: 48px;
      line-height: 48px;
      margin: 0;
      text-align: left;
      padding-left: 40px;
    }
  }
}

.new-menu-list {
  .new-menu-list-item .new-menu-list-item-inner {
    width: auto;

    .icon {
      margin-top: 5px;
      width: 100%;
    }

    .name {
      width: auto;
    }
  }
}
