<md-toolbar class="md-tall" layout-align="center center">
  <div ng-if="!item" layout-padding>
    <div class="md-body-2">Select a file or folder to view its details.</div>
  </div>
  <div ng-if="item" layout-padding>
    <div class="md-title" ng-bind="item.title"></div>
    <div>
      <span class="md-caption">Edited</span> <span class="md-caption" ng-bind="item.modifiedDate|date:'mediumDate'"></span>
    </div>
  </div>
</md-toolbar>

<md-content flex>
  <div ng-if="!item" layout="row" layout-align="center center" layout-padding>
    <i class="material-icons md-48 md-dark">format_quote</i>
  </div>
  <div ng-if="item" layout="column">
    <div ng-if="!detailsCtrl.isFolder()" layout="column">
      <img ng-src="https://drive.google.com/thumbnail?id={{item.id}}&sz=w300-h180-p-k-nu">
      <md-divider></md-divider>
    </div>

    <div layout-padding layout-margin>
      <div layout="row">
        <h1 class="md-body-2" flex="35">Type</h1>
        <h2 class="md-body-1" flex ng-bind="item.mimeType"></h2>
      </div>
      <div layout="row">
        <h1 class="md-body-2" flex="35">Quota used</h1>
        <h2 class="md-body-1" flex ng-bind="item.quotaBytesUsed"></h2>
      </div>
      <div layout="row">
        <h1 class="md-body-2" flex="35">Location</h1>
        <h2 class="md-body-1" flex><span ng-bind="name" ng-repeat="name in item.spaces"></span><span ng-if="$index > 1 && !$last">, </span></h2>
      </div>
      <div layout="row">
        <h1 class="md-body-2" flex="35">Owner</h1>
        <h2 class="md-body-1" flex><span ng-bind="name" ng-repeat="name in item.ownerNames"></span><span ng-if="$index > 1 && !$last">, </span></h2>
      </div>
      <div layout="row">
        <h1 class="md-body-2" flex="35">Opened</h1>
        <h2 class="md-body-1" flex ng-bind="item.lastViewedByMeDate|date:'mediumDate'"></h2>
      </div>
      <div layout="row">
        <h1 class="md-body-2" flex="35">Created</h1>
        <h2 class="md-body-1" flex ng-bind="item.createdDate|date:'mediumDate'"></h2>
      </div>
    </div>
  </div>
</md-content>
