<md-toolbar class="md-tall" layout-align="center center">
  <div ng-if="!item" layout-padding>
    <div class="md-body-2">Select a file or folder to view its details.</div>
  </div>
  <div ng-if="item" layout-padding>
    <div class="md-title" ng-bind="item.title"></div>
    <div>
      <span class="md-caption">Edited</span> <span class="md-caption" ng-bind="item.modifiedDate|date:'mediumDate'"></span>
    </div>
  </div>
</md-toolbar>

<md-content flex md-scroll-y>
  <div ng-if="!item" layout="row" layout-align="center center" layout-padding>
    <i class="material-icons md-48 md-dark">format_quote</i>
  </div>
  <div ng-if="item" layout="column">
    <div class="details-thumbnail" ng-if="item.thumbnailLink">
      <img class="details-thumbnail-image" ng-src="{{item.thumbnailLink}}">
    </div>

    <div layout-margin>
      <md-divider></md-divider>
    </div>

    <div class="details-informations">
      <div layout="row">
        <div class="md-body-2" flex="35">Type</div>
        <div class="md-body-1" flex ng-bind="item.mimeType"></div>
      </div>
      <div layout="row">
        <div class="md-body-2" flex="35">Quota used</div>
        <div class="md-body-1" flex><span ng-bind="item.quotaBytesUsed"></span> Bytes</div>
      </div>
      <div layout="row">
        <div class="md-body-2" flex="35">Location</div>
        <div class="md-body-1" flex><span ng-bind="name" ng-repeat="name in item.spaces"></span><span ng-if="$index > 1 && !$last">, </span></div>
      </div>
      <div layout="row">
        <div class="md-body-2" flex="35">Owner</div>
        <div class="md-body-1" flex><span ng-bind="name" ng-repeat="name in item.ownerNames"></span><span ng-if="$index > 1 && !$last">, </span></div>
      </div>
      <div layout="row">
        <div class="md-body-2" flex="35">Opened</div>
        <div class="md-body-1" flex ng-bind="item.lastViewedByMeDate|date:'mediumDate'"></div>
      </div>
      <div layout="row">
        <div class="md-body-2" flex="35">Created</div>
        <div class="md-body-1" flex ng-bind="item.createdDate|date:'mediumDate'"></div>
      </div>
    </div>
  </div>
</md-content>
