<div flex layout="column" class="wrapper">
  <md-progress-linear ng-if="!driveCtrl.loaded" md-mode="indeterminate" style="position:absolute;top:-5px"></md-progress-linear>

  <md-list class="drive-list" ng-if="driveCtrl.loaded" flex layout="column">

    <md-list-item class="drive-list-item" ng-if="!driveCtrl.currentFolder.isRoot" ng-click="driveCtrl.upToParentFolder()">
      <span class="fa fa-level-up"></span>&nbsp;&nbsp;...
      <md-divider></md-divider>
    </md-list-item>

    <div ng-if="driveCtrl.loaded && !driveCtrl.itemListController.items.length" layout-align="center center" layout="column">
      <i class="material-icons md-48 md-dark">format_quote</i> There is no item.
    </div>

    <md-virtual-repeat-container flex>
      <md-list-item class="drive-list-item" md-virtual-repeat="item in driveCtrl.itemListController" md-on-demand="true" ng-class="{selected: item.isSelected}" ng-dblclick="driveCtrl.onItemDoubleClicked(item)" ng-click="driveCtrl.onItemClicked(item, true)" mtd-right-click="driveCtrl.onItemClicked(item, false)" aria-label="{{item.title}} selected">
        <img class="icon" ng-src="{{item.iconLink}}">
        <span class="name" ng-bind="item.title"></span>
        <md-divider></md-divider>
      </md-list-item>
    </md-virtual-repeat-container>

  </md-list>

</div>
