<div layout="row" flex ng-class="{'prevent-backdrop': driveCtrl.isScreenSize('gt-md')}" layout-fill>
  <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="sidenav" md-is-locked-open="$mdMedia('gt-md')" layout="column">
    <div class="sidenav-content" ng-controller="SidenavController as sidenavCtrl"  ng-include="'app/drive/sidenav.tpl.html'"></div>
  </md-sidenav>

  <div class="file-list-wrapper" layout="column" flex>

    <md-toolbar ng-controller="NavbarController as navbarCtrl" class="navbar md-whiteframe-z2 md-tall" ng-include="'app/drive/navbar.tpl.html'"></md-toolbar>

    <md-content class="md-sidenav-left md-whiteframe-z2"
                mtd-context-menu
                menu-list="driveCtrl.contextMenuList"
                on-menu-selected="driveCtrl.onContextMenuSelected(menu)"
                on-popup="driveCtrl.onContextMenuPopup()"
                layout="column"
                flex
                md-scroll-y
                ui-view>
    </md-content>

    <div ng-controller="NewItemFabController as ctrl" class="fab-container">
      <md-fab-speed-dial md-open="ctrl.isExpanded" md-direction="up" class="md-scale" ng-click="ctrl.isExpanded = !ctrl.isExpanded">
        <md-fab-trigger>
          <md-button aria-label="menu" class="md-fab md-warn">
            <md-icon md-font-icon="material-icons">add</md-icon>
          </md-button>
        </md-fab-trigger>
        <md-fab-actions>
          <div ng-repeat="menu in ctrl.menuList">
            <md-button aria-label="{{::menu.name}}" class="md-fab md-mini" ng-class="menu.icon.bg" ng-click="ctrl.menuClick($event, $index)">
              <md-tooltip md-direction="left">{{::menu.name}}</md-tooltip>
              <md-icon md-font-set="fa" md-font-icon="{{menu.icon.name}}"></md-icon>
            </md-button>
          </div>
          <div>
            <md-button class="md-fab md-mini file-bg" aria-label="Upload" ngf-select ngf-multiple="true" ngf-change="ctrl.onFileSelected($files, $file, $event, $rejectedFiles)">
              <md-tooltip md-direction="left">Upload</md-tooltip>
              <md-icon md-font-set="fa" md-font-icon="fa fa-cloud-upload fa-lg"></md-icon>
            </md-button>
          </div>
        </md-fab-actions>
      </md-fab-speed-dial>
    </div>

  </div>

  <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="details" md-is-locked-open="driveCtrl.isDetailsLocked()" layout="column">
    <mtd-details class="sidenav-content" mtd-details-item="driveCtrl.selectedItem"></mtd-details>
  </md-sidenav>
</div>
