<md-dialog aria-label="dialog">
  <form ng-submit="ok()">
    <md-toolbar>
      <div class="md-toolbar-tools"><h2>{{::vm.item.name}}</h2></div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <md-input-container layout="column">
          <label>Name</label>
          <input type="text" ng-model="vm.fileName">
        </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions>
      <md-button ng-click="cancel()">Cancel</md-button>
      <md-button ng-click="ok()" style="margin-right:20px;">Create</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
