<md-dialog class="file-navigation-dialog md-content-overflow" aria-label="dialog">
  <h1 class="header md-title">Move to</h1>
  <md-divider></md-divider>
  <h1 class="md-subheader current-folder clickable" ng-click="vm.goToParent()">
    <span class="fa fa-arrow-left" ng-if="!vm.currentFolder.isRoot"></span> <span ng-bind="vm.currentFolder.title"></span>
  </h1>
  <md-dialog-content>
    <md-list class="drive-list" ng-repeat="folder in vm.folderList">
      <md-list-item class="drive-list-item" aria-label="{{::folder.title}}" ng-click="!vm.selectedItemMap[folder.id] && vm.exapnd(folder)" ng-class="{disabled: vm.selectedItemMap[folder.id]}">
        <img class="icon" ng-src="{{folder.iconLink}}">
        <span class="name" ng-bind="::folder.title"></span>
      </md-list-item>
      <md-divider></md-divider>
    </md-list>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <md-button ng-click="vm.selectFolder()" class="md-primary">Select</md-button>
  </div>
</md-dialog>
